        :root {
            /* Inner shadow */
            --shadow-offset: 0;
            --shadow-blur: 20px;
            --shadow-spread: -5px;
            --shadow-color: rgba(255, 255, 255, 0.7);

            /* Painted glass */
            --tint-color: 255, 255, 255;
            --tint-opacity: 0.4;

            /* Background frost */
            --frost-blur: 2px;

            /* SVG noise/distortion */
            --noise-frequency: 0.008;
            --distortion-strength: 77;

            /* Outer shadow blur */
            --outer-shadow-blur: 24px;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        a {
            text-decoration: none;
            color: rgb(20, 20, 20);
            font-size: 16px;
        }

        a:visited {
            color: rgb(29, 29, 29);
            text-decoration: none;
            font-family: "Cal Sans", sans-serif;
        }

        a:hover {
            color: #fdfdfd;
            transition: color 0.9s;
            font-family: "Cal Sans", sans-serif;
        }

        /*AQUI*/
        .simplebar-track.simplebar-vertical {
            background: transparent;
            width: 10px !important;
        }

        .simplebar-scrollbar {
            position: relative;
            z-index: 1;
            border-radius: 10px;
            transition: none !important;
            overflow: hidden;
        }

        .simplebar-scrollbar:before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
            background: transparent !important;
            opacity: 1 !important;
            transition: none !important;
            border-radius: 0px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
        }

        .simplebar-scrollbar:after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 2;
            -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.5),
                inset 0 0 3px 1px rgba(255, 255, 255, 0.5);
            box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.5),
                inset 0 0 3px 1px rgba(255, 255, 255, 0.5);
        }



        body {
            display: flex;
            flex-direction: column;

            margin: 0;
            width: 100%;
            height: auto;
            /*background:
                url('') center/cover no-repeat;
            */
            background-color: #fdfdfd;
            font-family: sans-serif;
            font-weight: 300;

            overflow-y: scroll;
            overflow-x: hidden;

            justify-content: center;
            align-items: center;
        }

        .cabecalho {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100px;
            overflow: hidden;
            background-color: #fdfdfd;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 75px;
            margin: 0;
        }

        .banner {
            margin: 0;
            display: flex;
            width: 100%;
            height: 90%;
            overflow-y: hidden;
            overflow-x: visible;

        }

        .banner .bg-video {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            pointer-events: none;
        }

        .caixa {
            display: flex;
            width: 100%;
            height: 100%;

            margin-top: 250px;

            justify-content: center;
            align-items: center;
        }

        .texto {
            width: 100%;
            height: 10%;
            margin-top: 170px;

            justify-content: center;
            padding-left: 120px;

            text-align: left;

            color: rgb(29, 29, 29);
            font-size: 70px;
            font-weight: 550;
        }

        .galeria {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 800px;

            justify-content: center;
            align-items: center;

            padding-left: 40px;

            gap: 25px;

            overflow: hidden;
        }

        .quadro-galeria {
            display: flex;

            flex-direction: column;

            width: 22%;
            height: 700px;
            background: rgb(22, 22, 22);
            border-radius: 45px;

            transition: scale 0.5s;

            overflow: hidden;
        }

        .quadro-galeria:hover {
            scale: 1.03;
        }

        #texto_galeria {

            text-align: left;
            color: #070707;
            font-size: 17px;
            font-weight: 500;
            margin-left: 35px;
            margin-top: 35px;
            max-width: fit-content;

            z-index: 1;
        }

        #grande_texto_galeria {

            text-align: left;
            color: #070707;
            font-size: 27px;
            font-weight: 500;
            margin-left: 35px;
            margin-top: -5px;
            max-width: fit-content;

            z-index: 1;
        }

        .galeria_ft {
            width: 100%;
            height: 100%;
            z-index: 0;
            position: relative;

            margin-top: -156px;

            scale: 1.10;
        }

        .galeria_ft:hover {
            width: 100%;
            height: 100%;
            z-index: -1;
            position: relative;

            margin-top: -156px;
        }

        .televisor {
            display: flex;
            position: relative;

            width: 90%;
            height: 800px;
            background: rgb(22, 22, 22);
            border-radius: 45px;

            transition: scale 1s;
        }

        .televisor:hover {
            scale: 1.01;
        }

        .playPauseBtn {
            position: absolute;
            top: 25px;
            right: 25px;
            left: auto !important;
            margin: 0 !important;
            z-index: 2;
        }

        .caixa-de-noticias {
            position: relative;
            min-height: 500px;
            overflow: visible;

            margin-top: 200px;
        }

        #noticia-balao {
            position: absolute;
            width: 260px;
            height: 180px;
            background: transparent;
            color: #fff;
            border-radius: 24px;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            text-align: center;
            padding: 16px;
            user-select: none;
            /* Efeito glass sutil */
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            border: 1.5px solid rgba(255, 255, 255, 0.08);
            animation: flutuar 12s ease-in-out infinite;

            cursor: move;
            isolation: isolate;
            touch-action: none;
            box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
        }

        #noticias_texto {
            position: absolute;
        }

        .noticia_ft {
            width: 100%;
            height: 100%;
            z-index: -1;
            position: relative;

            scale: 1.20;
            border-radius: 24px;
        }

        #noticia-balao::after {
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }

        #noticia-balao:nth-child(1) {
            left: 5%;
            top: 10%;
            animation-delay: 0s;
        }

        #noticia-balao:nth-child(2) {
            left: 25%;
            top: 40%;
            animation-delay: 2s;
        }

        #noticia-balao:nth-child(3) {
            left: 50%;
            top: 20%;
            animation-delay: 4s;
        }

        #noticia-balao:nth-child(4) {
            left: 70%;
            top: 50%;
            animation-delay: 6s;
        }

        #noticia-balao:nth-child(5) {
            left: 80%;
            top: 15%;
            animation-delay: 8s;
        }

        #noticia-balao:nth-child(6) {
            left: 35%;
            top: 70%;
            animation-delay: 10s;
        }

        @keyframes flutuar {
            0% {
                transform: translateY(0px) scale(1);
            }

            25% {
                transform: translateY(-20px) scale(1.03);
            }

            50% {
                transform: translateY(10px) scale(0.97);
            }

            75% {
                transform: translateY(-15px) scale(1.01);
            }

            100% {
                transform: translateY(0px) scale(1);
            }
        }

        .transicao-natureza {
            width: 100%;
            height: 500px;
        }

        img {
            display: flex;
            position: absolute;
            width: auto;
            margin: 0;
            padding: 0;
        }

        .glassDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 300px;
            height: 75px;
            border-radius: 28px;
            /* permite que ele se mova com o mouse */
            cursor: move;
            isolation: isolate;
            touch-action: none;
            box-shadow: 0px 6px var(--outer-shadow-blur) rgba(0, 0, 0, 0.2);
        }

        .glassDiv::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 0;
            border-radius: 28px;
            box-shadow:
                inset var(--shadow-offset) var(--shadow-offset) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
            background-color: rgba(var(--tint-color), var(--tint-opacity));
        }

        .glassDiv::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            border-radius: 28px;
            backdrop-filter: blur(var(--frost-blur));
            filter: url(#glass-distortion);
            isolation: isolate;
            -webkit-backdrop-filter: blur(var(--frost-blur));
            -webkit-filter: url("#glass-distortion");
        }

        @media (max-width: 600px) {
            .glassDiv {
                top: 30%;
                width: 250px;
                height: 120px;
            }
        }

        .glassBtn {
            position: absolute;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            cursor: pointer;
            width: 70px;
            height: 70px;
            padding: 15px;
            background: transparent;
            border-radius: 9999px;
            outline: none;
            border: none;
            z-index: 0;

            margin-left: 25px;
            margin-top: 25px;
        }

        .glassBtn::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 0;
            overflow: hidden;
            border-radius: 9999px;
            -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
                inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
            box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
                inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
            background-color: rgba(209, 209, 209, 0.1);
        }

        .glassBtn::after {
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            border-radius: 9999px;
            -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
            -webkit-filter: url(#btn-glass);
            filter: url(#btn-glass);
            overflow: hidden;
            isolation: isolate;
        }

        .glassBtn svg {
            width: 100%;
            height: 100%;
            stroke: #fff;
        }

        /* Wraper */

        .modal-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 9999;
            background: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.2s;
        }

        .modal-wrapper-hide {
            display: none !important;
        }

        .modal {
            background: #fff;
            border-radius: 24px;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18);
            padding: 40px 60px;
            min-width: 320px;
            min-height: 180px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        .modal-content {
            width: 100%;
            color: #222;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
        }

        .modal-close {
            position: absolute;
            top: 18px;
            right: 28px;
            background: rgba(255, 255, 255, 0.7);
            border: none;
            border-radius: 50%;
            width: 38px;
            height: 38px;
            font-size: 2rem;
            color: #222;
            cursor: pointer;
            z-index: 10;
            transition: background 0.2s;
        }

        .modal-close:hover {
            background: #ffe066;
            color: #000;
        }

        body.modal-open {
            overflow: hidden !important;
            height: 100vh !important;
        }

        /* Wrapper End */

        .titulinho {
            display: flex;
            justify-content: center;
            margin: 0;
            margin: 0px 0px 50px 0px;
        }

        .titulasso {
            justify-content: center;
            font-size: 50px;
        }

        .conteudo {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 30px;
            min-width: 1200px;
            min-height: 20px;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .setor {
            min-width: 50px;
            cursor: pointer;
            transition: 1s ease;
        }

        .setor:hover {
            top: 90px;
            min-width: 50px;
            min-height: 650px;
            padding: 30px;

        }


        .tituloCor {
            font-size: 35px;
            font-weight: 400;
            /*mudar fonte*/
            padding: 0 !important;
            margin: 0 !important;
        }

        .pointer {
            cursor: pointer !important;
        }



        .yellowGlass {
            background-color: rgba(250, 181, 24, 0.6) !important;
        }

        .greenGlass {
            background-color: rgba(0, 147, 57, 0.6) !important;
        }

        .blueGlass {
            background-color: rgba(0, 130, 196, 0.6) !important;
        }

        .redGlass {
            background-color: rgba(228, 15, 28, 0.6) !important;
        }



        .yellowGlassB {
            background-color: rgba(255, 181, 24, 0.3) !important;
        }

        .greenGlassB {
            background-color: rgba(0, 147, 57, 0.3) !important;
        }

        .blueGlassB {
            background-color: rgba(0, 130, 196, 0.3) !important;
        }

        .redGlassB {
            background-color: rgba(228, 15, 28, 0.3) !important;
        }



        .cima {
            z-index: 1;
            transition: 0.3 ease;
        }

        .baixo {
            z-index: -1;
            position: absolute;
            filter: opacity(0);
            background-color: transparent;
            transform: translateY(45);
            transform: scale(0.5);
            transform-origin: center top;
            transition: transform 0.4s cubic-bezier(0.30, 0.8, 0.25, 1),
                filter 0.4s cubic-bezier(0.30, 0.8, 0.25, 1);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            height: auto !important;
            width: auto !important;
            padding: 20px !important;
            border-radius: 50px !important;
            gap: 15px !important;
            
        }

        .baixo::before
        {
            border-radius: 50px !important;
        }
        
        .baixo::after
        {
            border-radius: 50px !important;
        }

        .baixo.toggle {
            /*ao hover a de cima, algo acontece com a de baixo*/
            transform: translateY(90px) !important;
            filter: opacity(1);
            transform: scale(1);
        }

        .cima > h1
        {
            color: white;
            font-size: 28px;
        }

        .opcao
        {
            background-color: white;
            border-radius: 30px;
            padding: 5px 20px 5px 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            gap: 10px;
        }

        .opcao > p
        {
            font-size: 22px;
            padding: 0px 10px 0px 10px !important;
        }

        .colorido
        {
            height: auto !important;
        }

        .ajusteTheo
        {
            margin-top: 60px !important;
            height: auto !important;
            margin-bottom: 150px !important;
        }

        footer
        {
            height: auto !important;
            background-color: rgb(0, 49, 94);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center !important;
            gap: 20 px !important;
        }

        .Lado
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .FooterEsquerda
        {
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 20px !important;
            width: 50vw !important;
            align-items: start;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
            margin-left: 0px !important;
        }

        .FooterDireita
        {
            align-items: end;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
        }

        .textoRodape
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 30px 0px 30px 50px;
            align-items: end;
            margin-top: 20px !important;
            margin-bottom: 20px !important;
        }

        .textoRodape > p
        {
            margin: 2px 0 2px 0 !important;
            padding: 0 !important;
            color: white;
        }

        .textoRodape > a > button
        {
            background-color: white;
            color: #00315e;
            border: 1px solid #00315e;
            border-radius: 30px;
            padding: 10px 20px 10px 20px;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.5s cubic-bezier(0,.85,.14,.99);
            margin-bottom: 15px !important;
        }

        .textoRodape > a > button:hover
        {
            background-color: #00315e;
            border: 1px solid white;
            color: white;
        }


        .enchimento
        {
            min-height: 270px;
        }

        html
        {
            scroll-behavior: smooth !important;
        }

        .conter
        {
            width: auto !important;
            display: flex;
            flex-direction: row;
            padding: 0 !important;
            margin: 0 !important;
        }

        .FooterEsquerda > img
        {
            position: absolute;
        }

        .logo
        {
            height: 130px !important;
        }

        .branco
        {
            color: white !important;
            margin-top: 5px !important;
            margin-bottom: 5px !important;
        }


